@font-face {
    font-family: 'Roboto-Bold';
    src: url(assets/fonts/Roboto-Bold.ttf)
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(assets/fonts/Roboto-Regular.ttf);
}

/*index.html styles*/
h1{
    font-family: 'Roboto-Bold';
    font-size: 40px;
}

p, li, button, label, form{
    font-family: 'Roboto-Regular';
}
label{
    font-size: 12px;
    font-weight: 600;
}

ul {
    list-style-image: url('assets/images/icon-list.svg');
    margin-left:-10px;
    padding-bottom:20px;
  }

ul li{
    padding:10px 5px 0px;
    line-height: 25px;
 
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    font-family: 'Roboto-Regular';
    padding: 30px 0px;
}

.attribution a {
    color: rgb(231, 109, 129); 
    font-family: 'Roboto-Regular';
}

.phone{
    max-width:375px;
    justify-content: center;
    margin: 0 auto; 
    background-color: rgb(248, 249, 250);
}

.phone-text{
    padding: 15px 25px;
}

#form{
    width:375px;
    padding-top:10px;
}

#form input{
    padding-top:20px;
    padding-bottom: 20px;
    padding-right:105px;
    padding-left:15px;
    font-size:15px;
    border-radius: 7px;
    border-width: 1px;
    border-color:rgb(211, 205, 205);
    margin-bottom: 20px;
}

#form button{
    border-radius: 7px;
    padding:20px 50px;
    font-size:15px;
    font-weight: 600;
    color:white;
    background-color:rgb(55, 55, 73);
    cursor: pointer;
}

/*sub_phone_page.html styles*/
.phone2{
    max-width:350px;
    justify-content: center;
    margin: 0 auto; 
    background-color: rgb(248, 249, 250);
    padding:20px;
    padding-top:100px;
}
.phone2 p{
    line-height: 25px;
    font-size:16px;
}
.phone2 span{
    font-weight:600;
}
.phone2 button{
    margin-top:200px;
    margin-bottom: 20px;
    padding:15px 120px;
    border-radius:7px;
    background-color:rgb(55, 55, 73);
    color:white;
    font-weight:600;
    cursor: pointer;
}